<footer class="page-footer grey darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Artist Tracker</h5>
        <p class="grey-text text-lighten-4">Artist Tracker is completely built with nodeJS.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Developers</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="http://prajjwaldimri.me">Prajjwal Dimri</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Gajendra Mehra</a></li>

        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © {{currentYear}} Debug Studios
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>
