<meta charset="utf-8" />
<title>{{title}}</title>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="/css/main.css" />

<!-- Minified Materialize Css -->
<link rel="stylesheet" type="text/css" href="/css/materialize.css" media="screen,projection" />

<link rel="stylesheet" type="text/css" href="/css/palette.css" />

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
