<meta charset="utf-8" />
<title>{{title}}</title>
<!--Import Google Icon Font-->

<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="/css/main.css" />

<!-- Minified Semantic UI CSS -->
<link rel="stylesheet" type="text/css" href="/css/semantic.min.css" />

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
